.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  position: relative;
}

.logo-container {
  flex: 1; /* Takes up available space on the left */
}

.logo {
  width: 120px; /* Adjust the logo size as needed */
  height: auto;
}

.nav-links {
  flex: 1; /* Takes up space in the middle */
  margin-left: 35%;
  display: flex;
  justify-content: center; /* Center the links in the middle */
  gap: 30px; /* Space between links */
}

.nav-links a {
  color: #000;
  /* text-decoration: none; */
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f06d6b;
}

.settings-container {
  flex: 1; /* Takes up space on the right */
  display: flex;
  justify-content: flex-end; /* Aligns the settings to the far right */
  position: relative;
}

.settings-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #777;
  transition: color 0.3s ease;
}

.settings-icon:hover {
  color: #333;
}

.settings-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logout-button {
  background: none;
  border: none;
  font-size: 1rem;
  color: #f06d6b;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.logout-button:hover {
  background-color: #f06d6b;
  border-radius: 8px;
  color: #ffffff;
}
